.task-block {
    border-bottom: 1px solid rgb(242, 236, 236);
    width: 70%;
    margin: auto;
    padding-top: 5px;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;

}

.task-btn {
    border-radius: 50%;
    width: 18px;
    height: 18px;
    background-color: white;
    display: block;
    border: 1px solid rgb(158, 154, 154);
    cursor: pointer;
}

.task-wrap {
    display: flex;
    flex-flow: row wrap;
    line-height: 1;
    justify-content: flex-start;
    align-items: center;
    cursor: pointer;
}

.task-options {
    display: flex;
    flex-flow: row nowrap;
    justify-content: flex-end;
    align-items: center;
    gap: 10px;
    font-size: 1.2rem;
    color: rgb(141, 136, 136);

}

.task-options div {
    cursor: pointer;
}