.task-block {
    border-bottom: 1px solid rgb(242, 236, 236);
    width: 70%;
    margin: auto;
    padding-top: 5px;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;

}

.task-btn {
    border-radius: 50%;
    width: 18px;
    height: 18px;
    background-color: white;
    display: block;
    border: 1px solid rgb(158, 154, 154);
    cursor: pointer;
}

.task-wrap {
    display: flex;
    flex-flow: row wrap;
    line-height: 1;
    justify-content: flex-start;
    align-items: center;
    cursor: pointer;
}

.task-options {
    display: flex;
    flex-flow: row nowrap;
    justify-content: flex-end;
    align-items: center;
    gap: 10px;
    font-size: 1.2rem;
    color: rgb(192, 186, 186);


}

.task-options button {
    background-color: white;
    cursor: pointer;
}

.task-options :first-child>button:hover {
    color: rgb(120, 120, 239);
}

.task-options div:nth-child(2)>button:hover {
    cursor: not-allowed;
}

.task-options div:nth-child(3)>button:hover {
    cursor: not-allowed;
}

.task-options :first-child>button:hover {
    color: rgb(120, 120, 239);
}

.task-options div {
    cursor: pointer;
}

.ant-btn {
    border: none;
}

.option-menu {
    padding-top: 10px;
    line-height: 4;
}

.option-menu button {
    background-color: white;
    cursor: pointer;
    width: 100%;
    text-align: left;
}