.popover p {
    cursor: pointer;
}

.list-block:hover {
    color: red;
}

.list-block-item-2 {
    line-height: 1;
    text-align: left;
    margin-left: 15px;
    list-style: none;
}

.list-block-one {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    cursor: pointer;
}

.list-block {
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    width: 100%;
    text-decoration: none;
    color: inherit;
}