.side-bar {
    height: 100%;
    overflow: scroll;
    padding: 10px;
    line-height: 1;
    background-color: #fcfcfc;

}


.project-wrapper {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
    gap: 10px;
    margin-top: 100px;

}

.list-block {
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    width: 100%;
    text-decoration: none;
    color: inherit;
}

#social {
    width: 17px;
    height: 15px;
    display: block;
    margin-left: 25px;
}

.list-item-container {
    display: flex;
    flex-flow: column nowrap;
    justify-content: space-around;
    gap: 0px;
    line-height: 2
}

.list-block:hover {
    color: red;
}

.list-block-item-2 {
    line-height: 1;
    text-align: left;
    margin-left: 15px;
    list-style: none;
}

.list-block-one {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    cursor: pointer;
}

.ellipsis:hover {

    color: red;


}